<table>
  <thead>
    <tr>
      <th>
        openid
      </th>
      <th>
        name
      </th>
      <th>
        fullname
      </th>
      <th>
        email
      </th>
      <th>
        role
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
<% @users.each do |user| %>
    <tr>
      <td>
        <%= user.openid %>
      </td>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.fullname %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.role %>
      </td>
      <td>
          <%= link_to "edit user", edit_user_path(user), :class => "edit" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>