<%= form_for(@edit_category) do |f| %>
<fieldset>
  <%= render 'errors/form', :object => @edit_category %>
  <% f.fields_for :category_names do |name_fields| %>
  <%= name_fields.hidden_field :language_id %>
  <div class="field">
    <label>
      name in <%= name_fields.object.language %>
    </label>
    <%= name_fields.text_field :name %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => "continue" %>
  </div>
</fieldset>
<% end %>