<fieldset>
    <% if signed_in? %>
      <div class="field">
        <label>name:</label>
        <%= @current_user.name %>
      </div>
    <% else %>
      <div class="field">
        <label>
          name:
        </label>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <label>
          email:
        </label>
        <%= f.text_field :email %>
      </div>
    <% end %>
  <div class="field">
    <label>
      comment:
    </label>
    <%= f.text_area :text, :rows => 10 %>
  </div>
  <div class="actions">
    <%= f.submit "save", :class => "continue" %>
  </div>
</fieldset>