<fieldset>
  <% if file_uploads.present? %>
  <table>
    <thead>
      <tr>
        <th>
          Filename
        </th>
        <th>
          Filesize
        </th>
        <th>
          Page
        </th>
        <th>
          Downloadcounter
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
      </tr>
    </thead>
    <tbody>
    <% file_uploads.each do |file_upload| %>
      <tr>
        <td>
          <%= link_to file_upload.filename, download_file_path(file_upload) %>
        </td>
        <td>
          <%= number_to_human_size(file_upload.file.size) %>
        </td>
        <td>
          <%= page_title file_upload.page if file_upload.page.present? %>
        </td>
        <td>
          <%= file_upload.count %>
        </td>
        <td class="actions">
          <%= link_to "download", download_file_path(file_upload), :class => "download" %>
        </td>
        <td class="actions">
            <%= link_to "edit", edit_file_upload_path(file_upload), :class => "edit" %>
        </td>
        <td class="actions">
            <%= link_to "delete", file_upload, :confirm => "Are you sure?", :method => :delete, :class => "delete",  %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
  <% if edit_page.present? %>
    <p class="actions">
      <%= link_to "upload file", new_file_upload_with_page_path(edit_page.id), :class => "new" %>
    </p>
  <% end %>
</fieldset>