<% f.fields_for :page_contents do |content_fields| %>
  <%= content_fields.hidden_field :language_id %>
  <div id="<%= "content_tab_"  + content_fields.object.language.short %>">
    <div class="field">
      <label>
        in language:
      </label>
      <%= content_fields.object.language.name %>
    </div>
    <div class="field">
      <label>
        title:
      </label>
      <%= content_fields.text_field :title %>
    </div>
    <% if edit_page.forced_url.nil? %>
      <div class="field">
        <label>
          excerpt:
        </label>
        <%= content_fields.text_area :excerpt, :rows => 3 %>
      </div>
      <div class="field">
        <label>
          text (kramdown):
        </label>
        <%= content_fields.text_area :text, :class => "kramdown", :short => content_fields.object.language.short %>
      </div>
      <div class="field">
        <label>
          preview:
        </label>
      </div>
      <div class="preview" id="preview_<%= content_fields.object.language.short %>"></div>
    <% end %>
  </div>
<% end %>