<%= form_for(@page_content) do |f| %>
<%= hidden_field :page_content, :language_id %>
<fieldset>
  <% if @page_content.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@page_content.errors.count, "error") %>
      prohibited this page from being saved:</h2>
    <ul>
      <% @page_content.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field">
    <label>
      title:
    </label>
    <%= f.text_field :title %>
  </div>
  <% if @edit_page.forced_url.nil? %>
  <div class="field">
    <label>
      content:
    </label>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <label>
      excerpt:
    </label>
    <%= f.text_area :excerpt, :rows => 3 %>
  </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => "continue" %>
  </div>
</fieldset>
<% end %>