<section class="sidebar right">
  <% if Category.first.present? %>
  <section class="categories">
    <h3>
      categories:
    </h3>
    <ul>
      <% f.fields_for :page_categories do |cat_f| %>
      <li>
        <%= cat_f.check_box :checked %><%= category_name(cat_f.object.category) %>
        <%= cat_f.hidden_field :category_id %>
      </li>
      <% end %>
    </ul>
  </section>
  <% end %>
  <section class="tags">
    <h3>
      tags:
    </h3>
    <%= f.text_field :tags_string, :size => 23 %>
  </section>
</section>
<fieldset>
  <%= render 'errors/form', :object => @edit_post %>
  <div class="field">
    <label>
      visible after:
    </label>
    <%= f.datetime_select :start_at, :order => [:day, :month, :year], :date_seperator => ".", :time_seperator => ":" %>
  </div>
  <fieldset id="content_tabs">
    <ul>
      <% @edit_post.page_contents.each do |content| %>
      <li>
        <%= link_to content.language.name, "#content_tab_"+content.language.short %>
      </li>
      <% end %>
    </ul>
    <%= render 'shared/text_form', :f => f, :edit_page => @edit_post %>
  </fieldset>
  <% if @edit_post.id.present? && @edit_post.forced_url.nil?  %>
    <%= render 'shared/file_upload_index', :file_uploads => @edit_post.file_uploads, :edit_page => @edit_post %>
  <% end %>
  <div class="actions">
    <%= f.submit :class => "continue" %>
  </div>
</fieldset>
<script type="text/javascript">
  $(function(){
      $("#content_tabs").tabs();
  })
</script>
