<%= render 'sidebar' %>
<% @news.each do |news| %>
<section class="news">
  <h2><%= page_title(news) %></h2>
  <p>
    <%= page_excerpt(news) %>
  </p>
  <p class="footer">
    <% if news.user.present? %>
    <span>author: <%= link_to news.user.name, news.user %></span>
	<% else %>
	<span><i>(author deleted)</i></span>
    <% end %>
    <span>from: <%= news.updated_at %></span>
    <% if news.categories.any? %>
    <span><%= inline_categories_for(news) %></span>
    <% end %>
  </p>
</section>
<% end %>