<%= render 'sidebar' %>
<% if @browse_category.present? %>
<h2>Category: <%= category_name @browse_category %></h2>
<% end %>
<% if @browse_tags.present? %>
<h2>Browse tags: <%= @browse_tags_names.join ", " %></h2>
<% end %>
<% @news.each do |news| %>
<section class="news">
  <h2><%= link_to page_title(news), news_path(news) %></h2>
  <p>
    <%= page_excerpt(news) %>
  </p>
  <p class="footer">
    <% if news.user.present? %>
    <span>author: <%= link_to news.user.name, news.user %></span>
	<% else %>
	<span><i>(author deleted)</i></span>
    <% end %>
    <span>from: <%= datetime(news.updated_at) %></span>
    <% if news.categories.any? %>
    <span>categories: <%= inline_categories_for news %></span>
    <% end %>
    <% if news.tags.any? %>
    <span>tags: <%= inline_tags_for news %></span>
    <% end %>
  </p>
</section>
<% end %>
<% if @news.empty? %>
<p class="flash notice news">no post matched your search criterias.</p>
<% end %>