<%= render 'sidebar' %>
<section class="news">
  <% if page_editable? @page %>
  <p class="actions">
    <%= link_to "edit", edit_news_path(@page), :class => "edit" %>
    <%= link_to "delete", news_path(@page), :confirm => "Are you sure?", :method => :delete, :class => "delete" %>, 
    kramdown reference: 
    <code>
      [[<%= @page.int_title %>]]
    </code>
    or 
    <code>
      [[<%= @page.id %>]]
    </code>
  </p>
  <% end %>
  <fieldset>
    <%= page_text(@page) %>
  </fieldset>
  <p class="footer">
    <% if @page.user.present? %>
    <span>
      author: <%= link_to @page.user.name, @page.user %>
    </span>
    <% else %>
    <span>
      <i>
        (author deleted)
      </i>
    </span>
    <% end %>
    <span>
      from: <%= @page.updated_at %>
    </span>
    <% if @page.categories.any? %>
    <span>
      categories: <%= inline_categories_for(@page) %>
    </span>
    <% end %>
  </p>
</section>
<%= render 'shared/download_links', :object => @page %>

<%= render 'shared/comments', :page => @page %>