<p>
  started at <%= @event.created_at %>, vote until <%= @event.end_at %>
</p>
<% if @event.description.present? %>
  <p>
    <%= @event.description %>
  </p>
<% end %>
<%= form_for @event, :url => { :action => "finished" } do |f| %>
  <fieldset>
    <table>
      <thead>
        <tr>
          <th>
          </th>
          <% @event.timeslots.each do |timeslot| %>
            <th>
              <%= timeslot.start_at %> - <br /><%= timeslot.end_at %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.user_votes.each do |user_vote| %>
          <%= render 'user_vote', :user_vote => user_vote, :f => f %>
        <% end %>
        <%= render 'result', :event => @event %>
        <tr>
          <td>
            Event for:
          </td>
          <%= f.fields_for :timeslots do |ft| %>
            <td>
              <%= ft.check_box :choosen %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="actions">
      <%= f.submit "finish", :class => "continue" %>
    </div>
  </fieldset>
<% end %>