<% if @events.any? %>
<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        vote until
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <body>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= event.name %>
        </td>
        <td>
          <%= event.end_at %>
        </td>
        <td class="actions">
          <% if event.votable? %>
            <%= link_to "vote", event, :class => "vote" %>
          <% else %>
            <%= link_to "show", event, :class => "continue" %>
          <% end %>
        </td>
        <td class="actions">
          <% if event.editable_for_user? @current_user, has_role?(:admin) %>
            <%= link_to "edit", edit_event_path(event), :class => "edit" %>
          <% end %>
        </td>
        <td class="actions">
          <% if event.user == @current_user || has_role?(:admin) %>
            <% unless event.finished? %>
              <%= link_to "finish", finish_event_path(event), :class => "finish" %>
            <% else %>
              <%= link_to "reopen", reopen_event_path(event), :confirm => "Are you sure?", :method => :put, :class => "reopen" %>
            <% end %>
          <% end %>
        </td>
        <td class="actions">
          <% if event.user == @current_user || has_role?(:admin) %>
            <%= link_to "delete", event, :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </body>
</table>
<% end %>
<p class="actions">
  <%= link_to "create new event", new_event_path, :class => "new" %>
</p>
