<p>
  started at <%= datetime(@event.created_at) %>, vote until <%= datetime(@event.end_at) %>
</p>
<% if @event.description.present? %>
  <p>
    <%= @event.description %>
  </p>
<% end %>
<%= form_for @event, :url => { :action => "vote" } do |f| %>
  <fieldset>
    <table>
      <thead>
        <tr>
          <th>
            from:<br />
            to:
          </th>
          <% @event.timeslots.each do |timeslot| %>
            <th>
              <%= datetime(timeslot.start_at) %><br />
              <%= datetime(timeslot.end_at) %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.user_votes.each do |user_vote| %>
          <%= render 'user_vote', :user_vote => user_vote, :f => f %>
        <% end %>
      <%= render 'result', :event => @event %>
      </tbody>
    </table>
    <% unless @event.finished? %>
      <div class="actions">
        <%= f.submit "vote" %>
      </div>
    <% end %>
  </fieldset>
<% end %>