<p>
  started at <%= @event.created_at %>, vote until <%= @event.end_at %>
</p>
<% if @event.description.present? %>
  <p>
    <%= @event.description %>
  </p>
<% end %>
<%= form_for @event, :url => { :action => "vote" } do |f| %>
  <fieldset>
    <table>
      <thead>
        <tr>
          <th>
            from:<br />
            to:
          </th>
          <% @event.timeslots.each do |timeslot| %>
            <th>
              <%= timeslot.start_at %><br />
              <%= timeslot.end_at %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @event.user_votes.each do |user_vote| %>
          <%= render 'user_vote', :user_vote => user_vote, :f => f %>
        <% end %>
      <%= render 'result', :event => @event %>
      </tbody>
    </table>
    <% if @button_div %>
      <div class="actions">
        <% if @vote_button %>
          <%= f.submit "vote", :class => "continue" %>
        <% end %>
        <% if @finish_button %>
          <% unless @event.finished? %>
            <%= link_to "finish", finish_event_path(@event), :class => "finish" %>
          <% else %>
            <%= link_to "reopen", reopen_event_path(@event), :confirm => "Are you sure?", :method => :put, :class => "reopen" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </fieldset>
<% end %>