<%= form_for(@page) do |f| %>
<fieldset>
  <div class="field">
    <label>
      title:
    </label>
    <span><%= @page_content.title unless @page_content.nil? %> <i>(<%= @page.int_title %>)</i></span>
  </div>
  <div class="field">
    <label>
      position:
    </label>
    <%= select(:page, :position_select, possible_page_positions_options(@page)) %>
  </div>
  
  <div class="actions">
  	<%= f.submit :class => "continue" %>
  </div>
</fieldset>
<% end %>