<%= form_for(@edit_page) do |f| %>
<%= hidden_field :edit_page, :enabled %>
<%= hidden_field :edit_page, :page_type %>
<fieldset>
  <% if @edit_page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@edit_page.errors.count, "error") %>
      prohibited this page from being saved:</h2>
    <ul>
      <% @edit_page.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="field actions">
    <label>
      title:
    </label>
    <span><%= @edit_page_content.title unless @edit_page_content.nil? %>
      <i>(<%= (@edit_page.int_title or "new") %>)</i></span>
    <span><%= link_to "activate", activate_page_path(@edit_page), :class => "enable" if @edit_page.activatable? %>
    </span>
    <span><%= link_to "deactivate", deactivate_page_path(@edit_page), :class => "disable" if @edit_page.deactivatable? %>
    </span>
  </div>
  <div class="field">
    <label>
      visible after:
    </label>
    <%= f.datetime_select :start_at, :order => [:day, :month, :year], :date_seperator => ".", :time_seperator => ":" %>
  </div>
  <div class="field">
    <label>
      visible for:
    </label>
        <%= f.select :role_id, roles_options %>
  </div>
  <div class="field">
    <label>
      position:
    </label>
    <%= possible_page_position_options(@edit_page) %>
  </div>
  <div class="actions">
    <%= f.submit :class => "continue" %>
  </div>
</fieldset>
<% end %>