<h1>edit page</h1>
<p class="actions">
  <%= link_to "back", pages_path, :class => "back" %>
</p>
<%= render 'form' %>
<h2>content</h2>
<table>
  <thead>
    <tr>
      <th>
        language
      </th>
      <th>
        title
      </th>
      <th>
        excerpt
      </th>
      <th>
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% get_page_contents_by_all_languages(@page).each do |language, page_content| %>
    <tr>
      <td>
        <%= language.name %>
      </td>
      <td>
        <%= page_content.title unless page_content.nil? %>
      </td>
      <td>
        <%= page_content.excerpt unless page_content.nil? %>
      </td>
      <% if page_content.nil? %>
      <td class="actions">
        <%= link_to "create", new_page_content_page_path(@page.id, language.id), :class => "new" %>
      </td>
      <td>
      </td>
      <td>
      </td>
      <% else %>
      <td class="actions">
        <%= link_to "show", show_page_path(@page.id, @page.int_title, language.short), :class => "continue" %>
      </td>
      <td class="actions">
        <%= link_to "edit", edit_page_content_page_path(@page.id, language.id), :class => "edit" %>
      </td>
      <td class="actions">
        <%= link_to "delete", destroy_page_content_page_path(@page.id, language.id), :confirm => "Are you sure?", :method => :delete, :class => "delete" if @page.page_contents.size > 1 %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
