<h1>edit page</h1>
<p class="actions">
  <%= link_to "back", pages_path, :class => "back" %>
</p>
<%= render 'form' %>
<h2>content</h2>
<table>
  <thead>
    <tr>
      <th>
        language
      </th>
      <th>
        title
      </th>
      <th>
        excerpt
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <% get_page_contents_by_all_languages(@page).each do |language, page_content| %>
    <tr>
      <td>
        <%= language.name %>
      </td>
      <td>
        <%= page_content.title unless page_content.nil? %>
      </td>
      <td>
        <%= page_content.excerpt unless page_content.nil? %>
      </td>
      <td class="actions">
        <% if page_content.nil? %>
        <%= link_to "create", "#", :class => "new" %>
        <% else %>
        <%= link_to "show", "#", :class => "continue" %> |
		<%= link_to "edit", "#", :class => "edit" %> |
		<%= link_to "delete", "#", :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
