<h1>Edit pages</h1>
<% page_tree = lambda do |page, depth| %>
<tr>
  <td>
    <%= ">" * depth + " " + (page.int_title or "(new)") %>
  </td>
  <td class="actions">
    <% page.page_contents.sort_by { |page_content| page_content.language.name }.each do |page_content| %>
      <%= link_to page_content.language.name, edit_page_content_page_path(page.id, page_content.language.id), :class => "edit" %>
    <% end %>
  </td>
  <td class="actions">
    <%= link_to "show", make_page_path(page), :class => "continue" %> |
    <%= link_to "edit", edit_page_path(page), :class => "edit" %> |
	<%= link_to "delete", page, :confirm => "Are you sure?", :method => :delete, :class => "delete" %>
  </td>
</tr>
<% page.children.each { |page| page_tree.call page, depth + 1 }
end %>
<table>
  <thead>
    <tr>
      <th>
        title
      </th>
      <th>
        languages
      </th>
      <th>
        actions
      </th>
    </tr>
  </thead>
  <tbody>
    <% @pages.each { |page| page_tree.call page, 0 } %>
  </tbody>
</table>

<p class="actions"><%= link_to "new page", new_page_path, :class => "new" %></p>