<%= page_text(@page) %>
<p class="footer">
<% if @page.user.present? %>
<span>
  author: <%= link_to @page.user.name, @page.user %>
</span>
<% else %>
<span>
  <i>
    (author deleted)
  </i>
</span>
<% end %>
<span>
  from: <%= @page.updated_at %>
</span>
<% if @page.categories.any? %>
<span>
  categories: <%= inline_categories_for(@page) %>
</span>
<% end %>
</p>
<%= render 'shared/download_links', :object => @page %>

<% if @page.children.select{ |child| child.visible? }.any? %>
<% @page.children.each do |news| %>
<section>
  <h2><%= link_to page_title(news), make_page_path(news) %></h2>
  <% if page_excerpt(news).present? %>
  <p>
    <%= page_excerpt(news) %>
  </p>
  <% end %>
  <p class="footer">
    <% if news.user.present? %>
    <span>author: <%= link_to news.user.name, news.user %></span>
	<% else %>
	<span><i>(author deleted)</i></span>
    <% end %>
    <span>from: <%= news.updated_at %></span>
    <% if news.categories.any? %>
    <span>categories: <%= inline_categories_for news %></span>
    <% end %>
    <% if news.tags.any? %>
    <span>tags: <%= inline_tags_for news %></span>
    <% end %>
  </p>
</section>
<% end %>
<% end %>