<%= page_text(@page) %>
<p class="footer actions">
  <% if @page.user.present? %>
    <span>
      author: <%= link_to @page.user.name, @page.user, :class => "user" %>
    </span>
  <% else %>
    <span>
      <i>
        (author deleted)
      </i>
    </span>
  <% end %>
    <span>
      from: <%= @page.updated_at %>
    </span>
  <% if @page.categories.any? %>
    <span>
      categories: <%= inline_categories_for(@page) %>
    </span>
  <% end %>
</p>
<%= render 'shared/download_links', :object => @page %>

<% if visible_children_pages(@page).any? %>
  <h2>subpages:</h2>
  <ul>
    <% visible_children_pages(@page).each do |news| %>
      <li><%= link_to page_title(news), make_page_path(news) %><%= " - " + page_excerpt(news) if page_excerpt(news).present? %></li>
    <% end %>
  </ul>
<% end %>
<%= render 'shared/comments', :page => @page %>