<% if @links.present? %>
<table>
  <thead>
    <tr>
      <th>
        title
      </th>
      <th>
        uri
      </th>
      <th>
        category
      </th>
      <th>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
<% @links.each do |link| %>
    <tr>
      <td>
        <%= link_to link.title, link.href %>
      </td>
      <td>
        <%= link_to link.href, link.href %>
      </td>
      <td>
        <%= inline_categories_for link %>
      </td>
      <td class="actions">
          <%= link_to "edit", edit_link_path(link), :class => "edit" %>
      </td>
      <td class="actions">
          <%= link_to "delete", link, :confirm => "Are you sure?", :method => :delete, :class => "delete",  %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<% end %>
<p class="actions">
<%= link_to "create link", new_link_path, :class => "new"%>
</p>