<%= form_for(@user) do |f| %>
<fieldset>
  <%= render 'errors/form', :object => @user %>
  <div class="field">
    <label>
      OpenID:
    </label>
    <% if @user.new_record? %>
      <%= f.text_field :openid %>
    <% else %>
      <span>
        <%= link_to @user.openid, @user.openid %>
      </span>
    <% end %>
  </div>
  <div class="field">
    <label>
      name:
    </label>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <label>
      fullname:
    </label>
    <%= f.text_field :fullname %>
  </div>
  <div class="field">
    <label>
      email:
    </label>
    <%= f.text_field :email %>
  </div>
  <% if has_role?(:admin) && @user != @current_user %>
  <div class="field">
    <label>
      role:
    </label>
    <%= f.select :role_id, role_options %>
  </div>
  <% end %>
  <div class="field">
    <label>
      language:
    </label>
    <%= f.select :language_id, language_options, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit :class => "continue" %>
  </div>
</fieldset>
<% end %>