<%= form_tag config_path, :method => :put do %>
<fieldset>
  <div class="field">
    <label>
      system language:
    </label>
    <%= select_tag :default_language, options_from_collection_for_select(Language.all, :short, :name, Conf.default_language.short) %>
  </div>
  <div class="field">
    <label>
      home page:
    </label>
    <%= select_tag :default_page, options_from_collection_for_select(Page.where("role_id = " + Role.find_by_int_name(:guest).id.to_s), :id, :int_title, Conf.default_page.id) %>
  </div>
  <div class="field">
  	<label>page name:</label>
    <%= text_field_tag :web_name, Conf.web_name %>
  </div>
  <div class="field">
    <label>calendar-html-adress:</label>
    <%= text_field_tag :calendar_url, Conf.calendar, :size => 100 %>
  </div>
  <div class="actions">
    <%= submit_tag "Save changes", :class => "continue" %>
  </div>
</fieldset>
<% end %>
