<%= form_tag config_path, :method => :put do %>
<fieldset>
  <div class="field">
    <label>
      system language:
    </label>
    <%= select_tag :default_language, options_from_collection_for_select(Language.all, :short, :name, Conf.default_language.short) %>
  </div>
  <div class="field">
    <label>
      home page:
    </label>
    <%= select_tag :default_page, options_from_collection_for_select(Page.where("role_id = " + Role.find_by_int_name(:guest).id.to_s), :id, :int_title, Conf.default_page.id) %>
  </div>
  <div class="field">
    <label>page name:</label>
    <%= text_field_tag :web_name, Conf.web_name %>
  </div>
  <h2>Google Calendar</h2>
  <fieldset>
    <div class="field">
      <label>Google Account Username:</label>
      <%= text_field_tag :google_account_name, Conf.google_account_name %>
    </div>
    <div class="field">
      <label>Google Account Password:</label>
      <%= password_field_tag :google_account_password, Conf.google_account_password %>
    </div>
    <div class="field">
      <label>calendar-html-adress:</label>
      <%= text_field_tag :calendar_url, Conf.calendar, :size => 100 %>
    </div>
    <p class="actions">
      <%= link_to "check google settings", config_check_google_path, :class => "continue", :size => 50 %>
    </p>
  </fieldset>
  <h2>twitter settings</h2>
  <fieldset>
    <p>register a twitter-app at <a href="http://dev.twitter.com/apps">http://dev.twitter.com/apps</a></p>
    <div class="field">
      <label>consumer key:</label>
      <%= text_field_tag :consumer_key, Conf.twitter_consumer_key, :size => 50 %>
    </div>
    <div class="field">
      <label>consumer secret:</label>
      <%= text_field_tag :consumer_secret, Conf.twitter_consumer_secret, :size => 50 %>
    </div>
    <div class="field">
      <label>oauth token:</label>
      <%= text_field_tag :oauth_token, Conf.twitter_oauth_token, :size => 50 %>
    </div>
    <div class="field">
      <label>oauth token secret:</label>
      <%= text_field_tag :oauth_secret, Conf.twitter_oauth_secret, :size => 50 %>
    </div>
    <p class="actions">
      <%= link_to "check twitter settings", config_check_twitter_path, :class => "continue", :size => 50 %>
    </p>
  </fieldset>
  <div class="actions">
    <%= submit_tag "Save changes", :class => "continue" %>
  </div>
</fieldset>
<% end %>
